{{#if isEditing}}
  {{partial "users/p-edit"}}
{{else}}
  <button {{action "edit" this}} class="btn btn-default">Edit</button>
{{/if}}
<form>
  <div class="form-group">
    <label for="username">User name</label>
    <p class="form-control-static">{{username}}</p>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <p class="form-control-static">{{email}}</p>
  </div>
</form>

